<h1>Breed Information</h1>
<p>Name: <%= @breed.name %></p>
<p>Gender: <%= @breed.gender %></p>
<p>Size: <%= @breed.size %></p>

<% if @breed.owners.present? %>
  <p>Owners:</p>
  <ul>
    <% @breed.owners.each do |owner| %>
      <li><%=link_to owner.name, ownerInfo_path(id: owner.id)  %></li>
    <% end %>
  </ul>
<% else %>
  <p>No owners found.</p>
<% end %>

