<h1>Owner Information</h1>
<p>Name: <%= @owner.name.capitalize %></p>
<p>Address: <%= @owner.address.capitalize %></p>

<% if @owner.breeds.present? %>
  <p>Breeds:</p>
  <ul>
    <% @owner.breeds.each do |breed| %>
      <li><%=link_to breed.name.capitalize, info_path(id: breed.id),class: "no-underline"%></li>
    <% end %>
  </ul>
<% else %>
  <p>No breeds found.</p>
<% end %>

