<h1>Search Results</h1>

<% if @breeds.present? %>
  <ul>
    <% @breeds.each do |breed| %>
      <li><%= link_to breed.name.capitalize, info_path(id: breed.id) ,class: "no-underline"%></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found for "<%= @query %>".</p>
<% end %>
